{block content}
<style>
.form-signin { max-width: 330px; padding: 15px; margin: 40px auto 50px auto; }
.form-signin ul { color: red; font-weight: bold; }
.form-signin .form-signin-heading, .form-signin .checkbox { margin-bottom: 10px; }
.form-signin .checkbox { font-weight: normal; }
.form-signin .form-control { position: relative; font-size: 16px; height: auto; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.form-signin .form-control:focus { z-index: 2; }
.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
</style>

{form signInForm, class => form-signin}
	<ul class="error" n:if="$form->errors">
		<li n:foreach="$form->errors as $error">{$error}</li>
	</ul>
	<h2 class="form-signin-heading" n:block=title>Přihlašte se prosím</h2>
	{input username, class => form-control, placeholder => "Username"}
	{input password, class => form-control, placeholder => "Heslo"}
	<label class="checkbox">
		{input remember}
	</label>
	{input send, class => "btn btn-large btn-primary btn-block"}
{/form}

{* or use {include '../components/form.latte', form => $presenter[signInForm]} *}
