{var $robots = 'noindex'}
{block content}
	<style>
		{*.qq-uploader { position: relative; width: 100%; }
		.qq-upload-button { border: 1px dashed #ccc; background: #e5e5e5; color: #aaa; height: 100px; display: block; text-align: center; }
		.qq-upload-button > div { font-size: 20px; margin: 40px; }
		.qq-upload-button > INPUT { height: 100px; }
		.qq-upload-drop-area, .qq-upload-extra-drop-area { border: 1px dashed #ccc; position: absolute; top: 0; left: 0; width: 100%; height: 100%; min-height: 30px; z-index: 2; background: #e5e5e5; text-align: center; }
		.qq-upload-drop-area span { display: block; position: absolute; top: 50%; width: 100%; margin-top: -8px; color: #aaa; font-size: 20px; }
		.qq-upload-extra-drop-area { position: relative; margin-top: 50px; font-size: 16px; padding-top: 30px; height: 20px; min-height: 40px; }
		.qq-upload-drop-area-active { border: 1px dashed #4d90fe; background: #e7f0ff; }
		.qq-upload-drop-area-active span { font-size: 20px; color: #4d90fe; }
		.qq-upload-list { margin: 0; padding: 0; list-style: none; }
		.qq-upload-list li { margin: 0; padding: 9px; line-height: 15px; font-size: 16px; background-color: #FFF0BD; }
		.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-failed-text, .qq-upload-finished, .qq-upload-delete { margin-right: 12px; }
		.qq-upload-spinner { display: inline-block; background: url("../images/loading.gif"); width: 15px; height: 15px; vertical-align: text-bottom; }
		.qq-drop-processing { display: none; }
		.qq-drop-processing-spinner { display: inline-block; background: url("../images/processing.gif"); width: 24px; height: 24px; vertical-align: text-bottom; }
		.qq-upload-finished { display:none; width:15px; height:15px; vertical-align:text-bottom; }
		.qq-upload-retry, .qq-upload-delete { display: none; color: #000000; }
		.qq-upload-retryable .qq-upload-retry { display: inline; }
		.qq-upload-size, .qq-upload-cancel, .qq-upload-retry, .qq-upload-delete { font-size: 12px; font-weight: normal; }
		.qq-upload-failed-text { display: none; font-style: italic; font-weight: bold; }
		.qq-upload-failed-icon { display:none; width:15px; height:15px; vertical-align:text-bottom; }
		.qq-upload-fail .qq-upload-failed-text { display: inline; }
		.qq-upload-retrying .qq-upload-failed-text { display: inline; color: #D60000; }
		.qq-upload-list li.qq-upload-success { background-color: #5DA30C; color: #FFFFFF; }
		.qq-upload-list li.qq-upload-fail { background-color: #D60000; color: #FFFFFF; }
		.qq-progress-bar {
			background: -moz-linear-gradient(top,  rgba(30,87,153,1) 0%, rgba(41,137,216,1) 50%, rgba(32,124,202,1) 51%, rgba(125,185,232,1) 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(50%,rgba(41,137,216,1)), color-stop(51%,rgba(32,124,202,1)), color-stop(100%,rgba(125,185,232,1))); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* IE10+ */
			background: linear-gradient(to bottom,  rgba(30,87,153,1) 0%,rgba(41,137,216,1) 50%,rgba(32,124,202,1) 51%,rgba(125,185,232,1) 100%); /* W3C */
			width: 0%; height: 15px; border-radius: 6px; margin-bottom: 3px; display: none;
		}
		INPUT.qq-edit-filename { position: absolute; opacity: 0; filter: alpha(opacity=0); z-index: -1; -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
		.qq-upload-file.qq-editable { cursor: pointer; }
		.qq-edit-filename-icon.qq-editable { display: inline-block; cursor: pointer; }
		INPUT.qq-edit-filename.qq-editing { position: static; margin-top: -5px; margin-right: 10px; margin-bottom: -5px; opacity: 1; filter: alpha(opacity=100); -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
		.qq-edit-filename-icon { display: none; background: url("../images/edit.gif"); width: 15px; height: 15px; vertical-align: text-bottom; margin-right: 5px; }
		INPUT.qq-edit-filename.qq-editing ~ .qq-upload-cancel { display: none; }*}
	</style>
	<link href="http://fineuploader.com/source/fineuploader-4.3.1.min.css" rel="stylesheet">
	<script type="text/javascript" src="{$basePath}/js/jquery.fineuploader.min.js"></script>

	<div class="row">
		<div class="col-lg-3">
			{include menu.latte}
		</div>
		<div class="col-lg-9">
			<h2>Nahrát nový obrázek</h2>
			<div id="image-uploader"></div>

			<h2>Nahrané obrázky</h2>
			<table class="table">
				{foreach $pictures as $picture}
					<tr>
						<td><img src="{$basePath}/uploads/{$picture->uuid}/{$picture->name}" width="100"></td>
						<td>{$picture->uuid}/{$picture->name}<br>[* {$picture->uuid}/{$picture->name} *]</td>
						<td>
							<div class="btn-group">
								<a class="btn btn-danger" data-confirm="Opravdu chcete smazat tento obrázek?">Delete</a>
							</div>
						</td>
					</tr>
				{/foreach}
			</table>
		</div>
	</div>

	<script>
		$(function () {
			$('#image-uploader').fineUploader({
				debug: true,
				request: {
					endpoint: 'pictures?do=uploadPicture'
				},
				retry: {
					enableAuto: true
				}
			});
		});
	</script>
	<script type="text/template" id="qq-template">
		<div class="qq-uploader-selector qq-uploader">
			<div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
				<span>Drop files here to upload</span>
			</div>
			<div class="qq-upload-button-selector qq-upload-button">
				<div>Upload a file</div>
			</div>
            <span class="qq-drop-processing-selector qq-drop-processing">
                <span>Processing dropped files...</span>
                <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
            </span>
			<ul class="qq-upload-list-selector qq-upload-list">
				<li>
					<div class="qq-progress-bar-container-selector">
						<div class="qq-progress-bar-selector qq-progress-bar"></div>
					</div>
					<span class="qq-upload-spinner-selector qq-upload-spinner"></span>
					<img class="qq-thumbnail-selector" qq-max-size="100" qq-server-scale>
					<span class="qq-edit-filename-icon-selector qq-edit-filename-icon"></span>
					<span class="qq-upload-file-selector qq-upload-file"></span>
					<input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
					<span class="qq-upload-size-selector qq-upload-size"></span>
					<a class="qq-upload-cancel-selector qq-upload-cancel" href="#">Cancel</a>
					<a class="qq-upload-retry-selector qq-upload-retry" href="#">Retry</a>
					<a class="qq-upload-delete-selector qq-upload-delete" href="#">Delete</a>
					<span class="qq-upload-status-text-selector qq-upload-status-text"></span>
				</li>
			</ul>
		</div>
	</script>
{/block}