{var $robots = 'noindex'}
{block content}

<div class="row">
	<div class="col-lg-3">
		{include menu.latte}
	</div>
	<div class="col-lg-9">
		<h2>Přehled článků</h2>

		<table class="table">
			{foreach $posts as $post}
				<tr>
					<td><a n:href=":Single:article $post->slug">{$post->title}</a></td>
					<td>
						{foreach $post->tags as $tag}
							<span class="label" style="background: #{$tag->color}">{$tag->name}</span>
						{/foreach}
					</td>
					<td>
						<span style="color:grey"><abbr title="Date">{$post->date|date:'j. n. Y h:m'}</abbr></span><br>
					</td>
					<td>
						<div class="btn-group">
							<a n:href=":Admin:default, id => $post->id" class="btn btn-info">Edit</a>
							<a n:href="delete! $post->id" class="btn btn-danger" data-confirm="Opravdu chcete smazat článek?">Delete</a>
						</div>
					</td>
				</tr>
				<!--<tr>
					<td colspan="4" style="border-top:none">{$post->body|texy|striptags|truncate:300}</td>
				</tr>-->
			{/foreach}
		</table>
	</div>
</div>

{/block}