{block title}ABOUT{/block}

{block content}

<ul class="breadcrumb hidden-print">
	<li><a n:href="Homepage:">home</a></li>
	<li class="active">about</li>
	<li class="pull-right" n:if="$presenter->isAjax()">Loaded With Ajax</li>
</ul>

<div class="row">
	<div class="col-lg-3 text-right visible-lg"><h3>Osobní údaje</h3></div>
	<div class="col-lg-3 hidden-lg"><h3>Osobní údaje</h3></div>
	<div class="col-lg-4">
		<address style="margin-bottom: 0px;">
			<strong>Martin Zlámal</strong><br>
			Brnířov 118, 345 06 Kdyně (Česká republika)<br>
			<abbr title="Telefon">Tel:</abbr> +420 723 764 899<br>
			Email: <a href="mailto:?to=mrtnzlml@gmail.com" target="_blank">mrtnzlml@gmail.com</a><br>
			Web: <a href="http://www.zeminem.cz/" target="_blank">http://www.zeminem.cz/</a>
		</address>
	</div>
	<div class="col-lg-4 visible-lg">
		<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
		<div class="g-person" data-layout="landscape" data-href="https://plus.google.com/108269453578187886435"></div>
	</div>
	<div class="col-lg-1 visible-lg">
		<a href="javascript:window.print()" style="font-size:20px;font-weight:bold">tisk&nbsp;<span class="glyphicon glyphicon-print"></span></a>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-3 text-right visible-lg"><h3>Pracovní zkušenosti</h3></div>
	<div class="col-lg-3 hidden-lg"><h3>Pracovní zkušenosti</h3></div>
	<div class="col-lg-9">
		<h4>FRESH-Hosting.cz <small>[ 2013 – současnost ]</small></h4>
		<p>Vývoj webové aplikace a hostingové infrastruktury, rozšiřování služeb FRESH-Hosting.cz</p>

		<h4>Endora rádce <small>[ říjen 2011 – leden 2013 ]</small></h4>
		<p>Stable.cz s.r.o., Jablonec nad Nisou (Česká republika)</p>
		<p>Podpora uživatelů Endora.cz na fóru podpory, rozšiřování služeb Endora.cz</p>

		<h4>Technolog <small>[ červenec 2012 – srpen 2012 ]</small></h4>
		<p>WELPRO s.r.o, Pocinovice (Česká republika)</p>
		<p>Práce se systémem počítačového projektování CAD, zajištění technologické přípravy výroby</p>

		<h4>Technolog <small>[ červenec 2011 – srpen 2011 ]</small></h4>
		<p>WELPRO s.r.o, Pocinovice (Česká republika)</p>
		<p>Práce se systémem počítačového projektování CAD, zajištění technologické přípravy výroby</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-3 text-right visible-lg"><h3>Vzdělání, odborná příprava a kurzy</h3></div>
	<div class="col-lg-3 hidden-lg"><h3>Vzdělání, odborná příprava a kurzy</h3></div>
	<div class="col-lg-9">
		<h4>Vývoj webových aplikací v Nette Framework <small>[ listopad 2012 ]</small></h4>
		<p>Institut Školení PHP, Praha 2 (Česká republika)</p>

		<h4>Západočeská univerzita <small>[ 2011 – do současnosti ]</small></h4>
		<p>Prezenční studium - Plzeň (Česká republika)</p>

		<h4>Maturita v oboru Automatizační technika <small>[ 2007 – 2011 ]</small></h4>
		<p>Střední průmyslová škola, Klatovy (Česká republika)</p>
		<p>
			Práce se systémy počítačového projektování (CAD), měření a vyhodnocování výsledků měření,
			programování jednočipových mikropočítačů, diagnostika závady elektronických zařízení a regulačních
			obvodů, obsluha spojovacích a přenosových zařízení
		</p>

		<h4>Osvědčení o úspěšném vykonání zkoušky podle §5 vyhl. č. 50/1978 Sb. <small>[ 26. dubna 2011 – do současnosti ]</small></h4>
		<p>Střední průmyslová škola, Klatovy (Česká republika)</p>
		<p>
			Pracovník znalý - samostatná obsluha el. zařízení, prácena částech el. zařízení bez napětí, v blízkosti
			napětí i pod napětím, práce vprostorách zvlášť nebezpečných pod dozorem, samostatná prácena
			zařízeních VN, VVN bez napětí, v blízkosti částí pod napětím pod dohledem nebo pod dozorem
		</p>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-3 text-right visible-lg"><h3>Osobní dovednosti</h3></div>
	<div class="col-lg-3 hidden-lg"><h3>Osobní dovednosti</h3></div>
	<div class="col-lg-9">
		<h4>Mateřský jazyk</h4>
		<p>čeština</p>

		<h4>Další jazyky</h4>
		<table class="table table-bordered">
			<thead>
				<tr>
					<td>JAZYK</td>
					<td colspan="2">POROZUMĚNÍ</td>
					<td colspan="2">MLUVENÍ</td>
					<td>PÍSEMNÝ PROJEV</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>Poslech</td>
					<td>Čtení</td>
					<td>Ústní interakce</td>
					<td>Samostatný ústní projev</td>
					<td>&nbsp;</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Angličtina</td>
					<td>B1</td>
					<td>B2</td>
					<td>B1</td>
					<td>B1</td>
					<td>B1</td>
				</tr>
			</tbody>
		</table>
		<p>A1/A2: Začátečník - B1/B2: Nezávislý uživatel - C1/C2: Způsobilý uživatel</p>
		<a href="http://europass.cedefop.europa.eu/cs/resources/european-language-levels-cefr" target="_blank">Společný evropský referenční rámec pro jazyky</a>

		<h4>Komunikační dovednosti</h4>
		<p>Dobré komunikační dovednosti získané během působení na pozici Endora rádce a při vývoji FRESH-Hosting</p>

		<h4>Organizační/manažerské dovednosti</h4>
		<p>Dobrá zkušenost s řízením projektů získaná během působení na pozici technolog a při vývoji FRESH-Hosting</p>

		<h4>Počítačové dovednosti</h4>
		<p>
			Výborná znalost internetového prostředí, dobrá znalost PHP5, MySQL, HTML/xHTML,
			CSS/JavaScript, dobrá znalost jednotlivých aplikací v rámci kancelářských balíků, dobrá znalost
			prostředí GNU/Linux, dobrá znalost Nette Framework a redakčních systémů
		</p>

		<h4>Řidičský průkaz</h4>
		<p>B</p>
	</div>
</div>

{/block}