{block title}REFERENCE{/block}

{block content}

<ul class="breadcrumb">
	<li><a n:href="Homepage:">home</a></li>
	<li class="active">reference</li>
	<li class="pull-right" n:if="$presenter->isAjax()">Loaded With Ajax</li>
</ul>

<div class="row">
	<div class="col-lg-8">
		<h3>Proč zvolit právě mé služby?</h3>
		<p>Existuje mnoho firem zajišťujících tvorbu webových prezentací. Co mohu nabídnout já?</p>
		<p>
			Zabývám se čistě programováním a kódováním. Na kvalitní webovou prezentaci je však potřeba kvalitní grafický návrh.
			Ten za vás dokážu obstarat. Cena takového návrhu je většinou kolem 1000 Kč. Po té co dostanu do ruky
			grafický návrh, pustím se do práce. Ode mě obdržíte profesionálně zpracovanou webovou prezentaci vytvořenou
			způsobem, který již spolehlivě používají jiné firmy.
		</p>
		<p>
			K tvorbě využívám Nette Framework, Bootstrap a vlastní předpřipravený skeleton aplikace. To mi umožnuje
			bleskovou reakci na požadavky a velmi rychlé zpracování grafického návrhu ve vysoké kvalitě. Dále mohu
			vybrat a doporučit kvalitní hostingové služby pro vaší novou webovou prezentaci.
		</p>
		<p>Preferuji statické firemní prezentace.</p>
		<p>Přečtěte si o mě <a n:href="Single:about">nějaké další informace</a>, nebo se podívejte níže na mé vybrané reference:</p>
	</div>
	<div class="col-lg-4">
		<a href="{$basePath}/img/reference/cert.jpg" target="_blank">
			<img src="{$basePath}/img/reference/cert.jpg" class="img-thumbnail img-responsive" />
		</a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-8">
		<h3>
			<a href="http://www.fresh-hosting.cz/" target="_blank">www.fresh-hosting.cz</a>
			<small style="white-space:nowrap">
				[ <a href="http://www.fresh-hosting.cz/" target="_blank">navštívit webovou stránku</a> ]
				<span class="label label-warning">IN PROGRESS</span>
			</small>
		</h3>
		<p>
			Webová aplikace pro webhostingové služby sloužící ke kompletní obsluze objednávkového procesu,
			automatického zřízení požadovaných služeb, poskytnutí administrátorského rozhraní a technické podpory.
		</p>
		<p>Použité a využívané služby a nástroje:</p>
		<ul>
			<li><a href="http://nette.org/" target="_blank">Nette Framework</a></li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
			<li><a href="http://lesscss.org/" target="_blank">LESS</a></li>
			<li><a href="http://question2answer.org/" target="_blank">Question2Answer</a></li>
			<li><a href="http://roundcube.net/" target="_blank">Roundcube</a></li>
		</ul>
		<p>Autorům těchto nástrojů a služeb tímto výslovně děkuji.</p>
	</div>
	<div class="col-lg-4">
		<a href="http://www.fresh-hosting.cz/" target="_blank">
			<img src="{$basePath}/img/reference/fresh.png" class="img-thumbnail img-responsive" />
		</a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-4">
		<a href="http://eshop.iaeste.cz/" target="_blank">
			<img src="{$basePath}/img/reference/iaeste.png" class="img-thumbnail img-responsive" />
		</a>
	</div>
	<div class="col-lg-8">
		<h3>
			<a href="http://eshop.iaeste.cz/" target="_blank">eshop.iaeste.cz</a>
			<small style="white-space:nowrap">
				[ <a href="http://eshop.iaeste.cz/" target="_blank">navštívit webovou stránku</a> |
				<a href="https://bitbucket.org/mrtnzlml/iaeste-eshop/issues" target="_blank" >issues</a> ]
				<span class="label label-warning">IN PROGRESS</span>
			</small>
		</h3>
		<p>
			IAESTE je mezinárodní organizace s více jak šedesátiletou tradicí, která působí v 85 zemích světa.
			Hlavním posláním organizace je zajišťování zahraničních praxí pro studenty technických vysokých škol.
			Celosvětově tak IAESTE přispívá k rozvoji odborných znalostí studentů, k porozumění mezi národy i k
			odstranění rozdílů v technické vyspělosti jednotlivých zemí.
		</p>
		<p>
			Organizaci IAESTE v České republice tvoří z drtivé části sami studenti, kteří se dobrovolně podílejí
			na realizaci všech aktivit a přitom se učí novým věcem, zlepšují své dovednosti a v neposlední řadě
			se baví v dobré partě přátel. Organizace tak stojí a padá s jejich schopnostmi, zapáleností pro věc,
			chutí tvořit.
		</p>
		<p>Použité a využívané služby a nástroje:</p>
		<ul>
			<li><a href="http://nette.org/" target="_blank">Nette Framework</a></li>
		</ul>
		<p>Autorům těchto nástrojů a služeb tímto výslovně děkuji.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-8">
		<h3>
			<a href="http://www.businessservice.cz/" target="_blank">www.businessservice.cz</a>
			<small style="white-space:nowrap">
				[ <a href="http://www.businessservice.cz/" target="_blank">navštívit webovou stránku</a> |
				<a href="https://bitbucket.org/mrtnzlml/business-service/issues" target="_blank" >issues</a> ]
				<span class="label label-success">STABLE</span>
			</small>
		</h3>
		<p>
			Business service je společnost, která svým klientům nabízí full servis v mnoha ohledech.
			Portfolio služeb Business service tvoří grafické práce ( corporate identity, loga, vizitky,&hellip;), marketing, reklama,
			pořádání event akcí pro firmy, zařizování služebních cest, zprostředkování školení a organizace výběrových řízení.
			Klienty Business service jsou firmy v Plzni, Praze i v Brně.
			Společnost Business service je členem Business for Breakfast a Hospodářské komory Plzeňského kraje.
		</p>
		<p>Použité a využívané služby a nástroje:</p>
		<ul>
			<li><a href="http://nette.org/" target="_blank">Nette Framework</a></li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		</ul>
		<p>Autorům těchto nástrojů a služeb tímto výslovně děkuji.</p>
	</div>
	<div class="col-lg-4">
		<a href="http://www.businessservice.cz/" target="_blank">
			<img src="{$basePath}/img/reference/business.png" class="img-thumbnail img-responsive" />
		</a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-4">
		<a href="http://www.securitylife.cz/" target="_blank">
			<img src="{$basePath}/img/reference/security.png" class="img-thumbnail img-responsive" />
		</a>
	</div>
	<div class="col-lg-8">
		<h3>
			<a href="http://www.securitylife.cz/" target="_blank">www.securitylife.cz</a>
			<small style="white-space:nowrap">
				[ <a href="http://www.securitylife.cz/" target="_blank">navštívit webovou stránku</a> |
				<a href="https://bitbucket.org/mrtnzlml/security-life/issues" target="_blank" >issues</a> ]
				<span class="label label-success">STABLE</span>
			</small>
		</h3>
		<p>
			Firma Security life vznikla roku 2009. Od té doby si vybudovala dobré jméno u mnoha spokojených zákazníků a firem.
			Společnost se zabývá instalacemi a servisem kamerových a zabezpečovacích systémů po celé Plzni a širokém okolí.
			Security life nabízí širokou škálu kvalitních produktů IP kamer, online kamer, sledovacích systémů CCTV a
			zabezpečovacích systémů.
		</p>
		<p>Použité a využívané služby a nástroje:</p>
		<ul>
			<li><a href="http://nette.org/" target="_blank">Nette Framework</a></li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		</ul>
		<p>Autorům těchto nástrojů a služeb tímto výslovně děkuji.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-8">
		<h3>
			<a href="http://boknet.cz/" target="_blank">www.boknet.cz</a>
			<small style="white-space:nowrap">
				[ <a href="http://boknet.cz/" target="_blank">navštívit webovou stránku</a> |
				<a href="https://bitbucket.org/mrtnzlml/bok-net/issues" target="_blank" >issues</a> ]
				<span class="label label-success">STABLE</span>
			</small>
		</h3>
		<p>
			Občasnské sdružení Boknet poskytuje svým členům přístup do
			vlastní počítačové sítě. Důvodem vzniku sdružení byla neuspokojivá nabídka jiného připojení a
			nevhodný přístup jednotlivých poskytovatelů internetu. Členové občanského sdružení mají k dispozici bezpečný internet.
		</p>
		<p>Použité a využívané služby a nástroje:</p>
		<ul>
			<li><a href="http://nette.org/" target="_blank">Nette Framework</a></li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
		</ul>
		<p>Autorům těchto nástrojů a služeb tímto výslovně děkuji.</p>
	</div>
	<div class="col-lg-4">
		<a href="http://boknet.cz/" target="_blank">
			<img src="{$basePath}/img/reference/boknet.png" class="img-thumbnail img-responsive" />
		</a>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-4">
		<a href="http://www.zeminem.cz/" target="_blank">
			<img src="{$basePath}/img/reference/zeminem.png" class="img-thumbnail img-responsive" />
		</a>
	</div>
	<div class="col-lg-8">
		<h3>
			<a href="http://www.zeminem.cz/" target="_blank">www.zeminem.cz</a>
			<small style="white-space:nowrap">
				[ <a href="http://www.zeminem.cz/" target="_blank">navštívit webovou stránku</a> |
				<a href="https://bitbucket.org/mrtnzlml/www.zeminem.cz/issues" target="_blank" >issues</a> ]
				<span class="label label-danger">EXPERIMENTAL</span>
			</small>
		</h3>
		<p>
			Osobní blogovací systém sloužící k občasnému slohovému projevu převážně o technických věcech
			a novinkách, které jsem v nedávné době potkal. Právě na tomto webu většinou zkouším technologické
			novinky a vychytávky, které (když se ověří) používám na ostatních stránkách.
		</p>
		<p>Použité a využívané služby a nástroje:</p>
		<ul>
			<li><a href="http://nette.org/" target="_blank">Nette Framework</a></li>
			<li><a href="http://getbootstrap.com/" target="_blank">Bootstrap</a></li>
			<li><a href="http://lesscss.org/" target="_blank">LESS</a></li>
		</ul>
		<p>Autorům těchto nástrojů a služeb tímto výslovně děkuji.</p>
	</div>
</div>

<hr>

<div class="row">
	<div class="col-lg-8">
		<h3>
			<a href="http://wordpress.org/plugins/endora/" target="_blank">Endora plugin pro WordPress</a>
			<small style="white-space:nowrap">
				[ <a href="http://wordpress.org/plugins/endora/" target="_blank">navštívit stránku pluginu</a> |
				<a href="https://bitbucket.org/mrtnzlml/endora/issues" target="_blank" >issues</a> ]
				<span class="label label-default">DEPRECATED</span>
			</small>
		</h3>
		<p>
			Plugin umožňuje jednoduchou editaci celkového vzhledu reklamního textu.
			Změna barvy textu, změna barvy pozadí, změna barvy odkazů, změna velikosti písma,
			změna písma (celkem 5 druhů), zarovnání reklamy&hellip;
		</p>
		<p>
			Při úpravách je okamžitě vidět reálný náhled editované reklamy.
			Jako bonus je přidán archiv Endora novinek a přehled informací o hostovaném webu.
			Tyto informace je také možno umístit na web jako widget.
			Stejně jako u widgetu, který vkládá reklamu, je zde zaručena celková editace vzhledu.
			Zobrazují se následující informace: Obsazené místo / Maximální prostor pro web na disku,
			traffic webu a jeho maximální mez, hosting program a čas jeho případné expirace&hellip;
		</p>
		<p>V rámci vývoje byl vytvořen i <a href="http://wordpress.org/plugins/endora-lite/" target="_blank">Endora Lite plugin pro WordPress</a>.</p>
	</div>
	<div class="col-lg-4">
		<iframe width="560" height="315" src="//www.youtube.com/embed/xR53OK-AjVg" frameborder="0" allowfullscreen class="img-thumbnail img-responsive" style="min-height: 250px;"></iframe>
	</div>
</div>

<hr>

<div class="row">
	<div class="well" style="max-width: 400px; margin: 100px auto 10px;">
		<h3>Další zajímavé projekty již brzy&hellip;</h3>
		<div class="progress progress-striped active">
			<div class="progress-bar" style="width: 75%"></div>
		</div>
	</div>
</div>

{*
Nezveřejněné reference:
======================
http://fancyshop.cz/
*}

{/block}