{contentType application/xml; charset=utf-8}
<<?php ?>?xml version="1.0" encoding="UTF-8"?>

<rss version="2.0">
	<channel>
		<title>Martin Zlámal [BLOG]</title>
		<link>{link //:Homepage:default}</link>
		<description>Nejnovější články na blogu.</description>
		<language>cs</language>

		<item n:foreach="$posts as $post">
			<title>{$post->title}</title>
			<link>{link //:Single:article $post->slug}</link>
			<description>{$post->body|texy}</description>
		</item>
	</channel>
</rss>