{contentType application/xml}
<?xml version="1.0" encoding="UTF-8"?>

<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{foreach $sitemap as $s}
		<url>
			<loc>{link //Single:article $s->slug}</loc>
		</url>
	{/foreach}
</urlset>