{block |strip|trim}
<!DOCTYPE html>
<html lang="cs" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="{$robots}" n:ifset="$robots">

	<title n:inner-snippet="title">{block title|striptags}BLOG{/block} | Martin Zlámal</title>

	{control css}
	<link rel="shortcut icon" href="{$basePath}/favicon.ico">
	{block head}{/block}
	{block scripts}{control js}{/block}
</head>

<body data-experimental="{$experimental}" data-experimental-data="{$experimental_data}">
	<script> document.body.className+=' js' </script>

	<div class="container shadow hidden-print"><style>.record { position: relative; }</style>
		<div class="row">
			<div class="col-lg-2 visible-lg">
				<a n:href="Homepage:"><div id="qr"></div></a>
			</div>
			<div class="col-lg-7 col-md-8">
				<h1><a n:href="Homepage:">Martin <span style="white-space:nowrap"><span class="transf1">Zlá</span><span class="transf2">mal</span></span></a></h1>
			</div>
			<div class="col-lg-3 col-md-4">
				{form search, class => 'form-inline'}
					<div class="row">
						<div class="col-lg-12" style="margin-top: 10px;">
							<div class="input-group">
								<input n:name="search" type="search" class="form-control" placeholder="Search">
								<span class="input-group-btn">
									{input send, class => 'btn btn-default'}
								</span>
							</div>
						</div>
					</div>
				{/form}
				<div class="text-right" style="margin-top: 20px;">
					<a href="https://twitter.com/mrtnzlml" target="_blank">Twitter</a>
					&middot;
					<a href="https://plus.google.com/u/0/108269453578187886435?rel=author" target="_blank">G+</a>
					&middot;
					<a href="https://bitbucket.org/mrtnzlml" target="_blank">Bitbucket</a>
					&middot;
					<a n:href=":Homepage:rss" target="_blank">RSS</a>
					<br>
					{if $experimental == 'none'}
						<a n:href="experimental!">Zapnout experimentální funkce</a>
					{else}
						<a n:href="experimental!">Vypnout experimentální funkce</a>
					{/if}
					<span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left"
						  data-original-title="Zapíná experimentální funkce, které nemusí být každému příjemné a mohou se chovat nepředvídatelně."></span>
				</div>
			</div>
		</div>
	</div>

	{snippet menu}
	<div class="container hidden-print main-nav" style="background:transparent;padding:0">
		<ul class="nav nav-pills">
			<li n:class="$presenter->isLinkCurrent('Homepage:') ? active"><a n:href="Homepage:"><span class="glyphicon glyphicon-home"></span> home</a></li>
			<li n:class="$presenter->isLinkCurrent('Single:about') ? active"><a n:href="Single:about">about</a></li>
			<li n:class="$presenter->isLinkCurrent('Single:reference') ? active"><a n:href="Single:reference">reference</a></li>
			<li n:class="$presenter->isLinkCurrent('Single:obsah') || $presenter->isLinkCurrent('Single:tagsah') ? active"><a n:href="Single:obsah">obsah <span class="glyphicon glyphicon-sort-by-alphabet"></span></a></li>
			<li><a n:href="random!">random <span class="glyphicon glyphicon-random"></span></a></li>
			{if $user->isLoggedIn()}<li n:class="$presenter->isLinkCurrent('Admin:') ? 'pull-right active' : pull-right"><a n:href=":Admin:default, id => NULL">admin</a></li>{/if}
		</ul>
	</div>
	{/snippet}

	<div class="container shadow" style="padding: 20px 30px;">
		{snippet flashes}
			<div n:foreach="$flashes as $flash" class="alert {$flash->type}">{$flash->message}</div>
		{/snippet}
		{snippet content}
			{include #content}
		{/snippet}
	</div>

	<div class="container text-right hidden-print footer" style="background:transparent">
		<span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" property="dct:title" rel="dct:type"><a n:href="Homepage:">Tato webová stránka</a></span>, jejímž autorem je
		<a xmlns:cc="http://creativecommons.org/ns#" n:href="Single:about" property="cc:attributionName" rel="cc:attributionURL">Martin Zlámal</a>, podléhá licenci<br>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/deed.cs" target="_blank">Creative Commons Uveďte autora-Zachovejte licenci 4.0 International </a><br>
		&copy; 2012 - <?php echo date("Y"); ?>&nbsp;<a n:href="Homepage:">Martin Zlámal</a> <span class="glyphicon glyphicon-qrcode"></span> | {if $user->isLoggedIn()}<a href="{link Sign:out}">Odhlásit</a>{else}<a n:href="Sign:in" data-toggle="modal">Login</a>{/if}<br>
		<a href="http://www.fresh-hosting.cz/?utm_source=zeminem&utm_medium=link&utm_campaign=fresh" target="_blank">www.fresh-hosting.cz</a> | <a href="https://bitbucket.org/mrtnzlml/www.zeminem.cz/issues" target="_blank">Našli jste chybu?</a>
	</div>

	<script type="text/javascript">
		var _gaq = _gaq || [];
		_gaq.push(['_setAccount', 'UA-39142238-1']);
		_gaq.push(['_trackPageview']);
		(function() {
			var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
			ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
			var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		})();
	</script>
</body>
</html>
{/block}